

/* ==========================================================================
   encart
   ========================================================================== */

.encart
{
  width: 100%;
  text-align: center;

}
.encart2
 {
  width: 100%;
  text-align: center;
}
/*====================button===========================================*/
.button
{
  

  display: block;
   margin:auto;

}
